body{
    background-color: hsl(212, 45%, 89%);
}
.content{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-section{
    background-color: white;
    width: 320px;
    padding: 15px;
    border-radius: 15px;

}
img{
    width: 100%;
     border-radius: 15px;
}
p , h2{
    font-family: 'Outfit';
    text-align: center;
}
h2{
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    font-size: 20px;
}
p{
    font-weight: 400;
    color: hsl(216, 15%, 48%);
    font-size: 15px;
}